repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --config pyproject.toml --force-exclude --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        exclude: ^src/backend/infra/alembic/.*

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --config pyproject.toml --force-exclude --exit-non-zero-on-format
        language: system
        types: [python]
        exclude: ^src/backend/infra/alembic/.*

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy --config-file pyproject.toml
        language: system
        types: [python]
        exclude: ^src/backend/infra/alembic/.*

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        always_run: false
        verbose: true

  - repo: local
    hooks:
      - id: prettier-and-eslint-check
        name: prettier and eslint check
        entry: pnpm --filter @yuxbot/frontend run lint --
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: prettier-format
        name: prettier format
        entry: pnpm --filter @yuxbot/frontend run format --
        language: system
        pass_filenames: false
